### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Backend###
backend-api/target/
backend-api/build/
backend-api/bin/
backend-api/logs/
*.log

### Frontend ###
ui/node_modules/
ui/dist/
ui/dist-ssr/
ui/build/
ui/.env
ui/.env.*
ui/.env.local
ui/.eslintcache
ui/coverage/
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*

### Mac ###
.DS_Store

### Uploaded documents###
uploads/
